@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* CHARACTER PAGE*/
/* color-combination: 
Hex code: #1fbfb8, #05716c, #1978a5, #031163
alternative: Hex codes: Light Blue #ADD8E6, Dark Blue #00008b

Hex code: #ecc19c, #1e847f, #000000

Hex codes: Royal Blue #00539CFF, Peach #EEA47FFF

Hex Codes: #1fbfb8, #05716c, #1978a5, #031163
*/ 

.loading {
    text-align: center;
    background-image: radial-gradient(#1978a5,#031163);  
    color: white; 
    font-size: 40px; 
}

.character-page {
    background: /* url("../public/7.jpg"); */  radial-gradient(#1978a5,#031163); 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px; 
}

.character-heading{
    font-family: 'Press Start 2P', cursive;
    font-size: 80px; 
    padding-top: 50px;
    margin: 80px; 
    color: #ADD8E6;
}

.character-container {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.character-card {
    margin: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px; 
    height: 450px; 
    background: radial-gradient(white,#1978a5);
    font-size: 30px;
    color: #05716c;
    border-radius: 10%;
    border: 1px solid rgb(220,220,220);
    box-shadow: 0px 0px 5px 1px rgb(170, 170, 170);
    cursor: pointer;
}

.character-card:hover {
    box-shadow: 1px 1px 40px 5px rgb(270, 270, 270);
}

.character-image {
    width: 250px; 
}

.backside {
    background: radial-gradient(white,rgb(245, 208, 129)); 
    color: #031163;
}

.character-card-heading {
    font-size: 35px; 
    margin: 10px; 
}

.character-image-backside {
    width: 150px; 
}

.character-card-info {
    text-align: center; 
}

.character-info-container {
    margin: 5px; 
    font-size: 25px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 150px;
    overflow: scroll; 
    line-height: 2.2rem;
}
/*
.pagination {
    margin: 100px; 
}

.pagination-btn {
    width: 100px; 
    height: 100px; 
    font-size: 35px; 
    border-radius: 50%;
    background-color: gray; 
    color: white;
    border:  2px solid white; 
    margin: 5px; 
}

.selected-btn {
    font-size: 45px; 
    font-weight: 700;
}

.prev, .next {
    border-radius: 20%;
    margin-left: 40px; 
    margin-right: 40px; 
    width: 150px; 
}
*/

.pagination {    
    margin: 100px; 
}

.pagination-btn {
    font-family: 'Press Start 2P', cursive;
    width: 100px; 
    height: 100px; 
    font-size: 25px; 
    font-weight: 500;
    border-radius: 50%;
    background-color: lightskyblue; 
    color: darkblue;
    border:  2px solid darkblue; 
    margin: 5px; 
    cursor: pointer;
}

.selected-btn {
    font-size: 35px; 
    font-weight: 700;
    color: red;
}

.prev, .next {
    border-radius: 20%;
    margin-left: 40px; 
    margin-right: 40px; 
    width: 150px; 
}
